#booking {
  background-color: #cf1212;
  color: #faf9f6;
  padding: 5px 20px;
}

textarea{
  resize: none;
}

.bookingHeading {
  font-family: "Marcellus", serif;
}

@media screen and (max-width: 426px) {
  .bookingHeading {
    font-size: 4vw;
    margin: 5vw;
  }

  .form {
    background-color: #faf9f6;
    width: 90%;
    margin: 5vw;
    padding: 1vw;
    border-radius: 1vw;
  }

  table {
    height: auto;
    font-family: "baloo 2", sans-serif;
    text-align: center;
    display: grid;
    place-items: center;
    gap: 5vw;
  }

  tr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin: 5vw;
  }

  label {
    font-size: 4vw;
    font-weight: 800;
  }

  input,
  select,
  textarea {
    width: 35vw;
    height: 8vw;
    padding: 2vw;
    border: 0.5vw solid #4f7942;
    color: #4f7942;
    border-radius: 1vw;
    text-align: center;
  }

  textarea{
    height: 15vw;
  }

  #submit {
    width: 50vw;
    margin: auto;
    color: #faf9f6;
    background-color: #283d21;
    padding: 0.5vw 2vw;
    text-decoration: none;
    border-radius: 2vw;
    border: 0.3vw inset #4f794200;
  }

  #submit:hover {
    background-color: #4f7942;
    box-shadow: 0px 5px 5px #21321b98 inset;
    border: 0.3vw inset #faf9f6;
  }
}

@media screen and (min-width: 427px) {

  .bookingHeading{
    font-size: 2vw;
    margin: 2vw;
}

  .form {
    background-color: #faf9f6;
    width: 90%;
    padding: 2vw;
    border-radius: 1vw;
  }

  table {
    height: auto;
    font-family: "baloo 2", sans-serif;
    text-align: center;
    display: grid;
    place-items: center;
    gap: 5vw;
  }

  tr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin: 2vw;
  }

  label {
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 2.5vw;
  }

  input,
  select,
  textarea {
    width: 35vw;
    height: 5vw;
    padding: 2vw;
    border: 0.3vw solid #4f7942;
    color: #4f7942;
    border-radius: 1vw;
    text-align: center;
  }

  textarea{
    height: 15vw;
  }

  #submit {
    font-family: "Marcellus", serif;
    font-size: 2vw;
    color: #faf9f6;
    background-color: #283d21;
    padding: 0.5vw 1vw;
    text-decoration: none;
    border-radius: 1vw;
    border: 0.3vw inset #4f794200;
  }

  #submit:hover {
    background-color: #4f7942;
    box-shadow: 0px 5px 5px #21321b98 inset;
    border: 0.3vw inset #faf9f6;
  }
}
@media screen and (min-width: 1024px) {
  
  .bookingHeading{
    font-size: 1.8vw;
    margin: 2vw;
}
  
  .form {
    background-color: #faf9f6;
    width: 90%;
    border-radius: 0.5vw;
  }

  table {
    height: auto;
    font-family: "baloo 2", sans-serif;
    text-align: center;
    display: grid;
    place-items: center;
    gap: 5vw;
  }

  tr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin: 2vw;
  }

  label {
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 2vw;
  }

  input,
  select,
  textarea {
    width: 30vw;
    font-size: 1.2vw;
    border: 0.2vw solid #4f7942;
    color: #4f7942;
    border-radius: 1vw;
    text-align: center;
  }

  textarea{
    height: 10vw;
  }

  #submit {
    color: #faf9f6;
    background-color: #283d21;
    padding: 0.2vw 1vw;
    text-decoration: none;
    border-radius: 0.7vw;
    border: 0.2vw inset #4f794200;
  }

  #submit:hover {
    background-color: #4f7942;
    box-shadow: 0px 5px 5px #21321b98 inset;
    border: 0.2vw inset #faf9f6;
  }
}
