
/*Footer Start*/

.footer {
    width: 90%;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    background-color: #FAF9F6;
    padding: 5px;
    border-radius: 10px;
}

.footer .section {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    color: #4F7942;
}

.footer h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #283d21;
}

.footer p {
    font-family: 'baloo 2', sans-serif;
    margin: 0;
    line-height: 1.5;
}

.footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.footer .social-icons a {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #283d21;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.footer .social-icons a:hover{
    background-color: #4F7942;
}

.footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    font-family: 'baloo 2', sans-serif;
}