@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Josefin+Sans&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amita&family=Fugaz+One&family=Marcellus&display=swap");

body {
  background-color: #edeade;
  color: #4f7942;
}

h1 {
  color: #283d21;
}

@media screen and (max-width: 426px) {
  .heading {
    background-image: url("/Images/pexels-quark-studio-2506990.jpg");
    background-size: cover;
    width: 90%;
    border-radius: 5px;
    font-family: "Bungee", sans-serif;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
  }

  .hamBurger {
    width: 40px;
    height: 40px;
    background-color: #4f7942;
    display: grid;
    place-items: center;
    border: none;
    border-radius: 2vw;
  }

  .heading h1 {
    margin-left: 50px;
    text-align: left;
    transition: 0.3s;
    color: #faf9f6;
  }

  .heading h1:hover {
    color: #283d21;
    text-shadow: 1px 1px 5px #edeade;
    scale: 1.02;
    transition: 0.3s;
  }

  .nav {
    display: none;
  }

  .marquee {
    background-color: #faf9f6;
    color: #cf1212;
    border-radius: 5px;
    width: 90%;
    margin: 10px;
    padding: 5px;
    font-family: "baloo 2", sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 427px) {
}

@media screen and (min-width: 1024px) {
  .heading {
    background-image: url("/Images/pexels-quark-studio-2506990.jpg");
    background-size: cover;
    width: 90%;
    border-radius: 5px;
    font-family: "Bungee", sans-serif;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
  }

  .hamBurger {
    display: none;
  }

  .heading h1 {
    margin-left: 50px;
    text-align: left;
    transition: 0.3s;
    color: #faf9f6;
  }

  .heading h1:hover {
    color: #283d21;
    text-shadow: 1px 1px 5px #edeade;
    scale: 1.02;
    transition: 0.3s;
  }

  .nav {
    color: #4f7942;
    width: 90%;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    font-family: "baloo 2", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
  }

  .nav a {
    color: #4f7942;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #faf9f6;
    border-radius: 5px;

    border: 2px inset #4f794200;
    transition: 0.5s;
  }

  .nav a:hover {
    background-color: #4f7942;
    border-radius: 10px;
    border: 2px inset #faf9f6;
    color: #faf9f6;
    transition-timing-function: ease;
    box-shadow: 0px 5px 5px #21321b98 inset;
  }

  .marquee {
    background-color: #faf9f6;
    color: #cf1212;
    border-radius: 5px;
    width: 90%;
    margin: 10px;
    padding: 5px;
    font-family: "baloo 2", sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
}
