@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Josefin+Sans&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amita&family=Fugaz+One&family=Marcellus&display=swap");

* {
  box-sizing: border-box;
  transition: all 0.5s ease;
  margin: 0;
  padding: 0;
  /* border: 1px solid; */
}

body {
  background-color: #edeade;
  color: #4f7942;
}

h1 {
  color: #283d21;
}

.heading {
  background-image: url("https://images.pexels.com/photos/3578007/pexels-photo-3578007.jpeg");
  background-size: cover;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Bungee", sans-serif;
}

.marquee {
  width: 90%;
  font-family: "baloo 2", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 426px) {
  .heading {
    border-radius: 3vw;
    margin: 5vw 2vw;
    padding: 10vw 3vw;
  }

  .heading h1 {
    font-size: 7vw;
    text-align: left;
    color: #faf9f6;
  }

  .heading h1:hover {
    text-shadow: 1px 1px 5px #283d21;
    scale: 1.02;
  }

  .hamBurger {
    width: 10vw;
    height: 10vw;
    display: flex;
    gap: 2vw;
    position: relative;
  }

  .hamBurger button {
    width: 10vw;
    height: 10vw;
    background-color: #4f7942;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 55;
    border: none;
    padding: 2vw;
    border-radius: 2vw;
  }

  .hamBurger .hamMenu {
    width: 80vw;
    height: 100vh;
    scale: 0;
    background-color: #ffffffa0;
    backdrop-filter: blur(5px);
    padding: 10vw 5vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    transform: translateX(120vw);
    gap: 6vw;
    right: -100vw;
    top: -200vw;
    z-index: 54;
    position: absolute;
  }

  .hamBurger .hamMenu a {
    color: #4f7942;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    font-size: 5vw;
    font-weight: 800;
  }

  .hamBurger .closeHam {
    right: 125%;
    transform: scale(0);
  }

  .hamMenu .activeHam {
    border-bottom: 2px ridge #cf1212;
  }

  .nav {
    display: none;
  }

  .marquee {
    background-color: #faf9f6;
    color: #cf1212;
    border-radius: 1vw;
    font-size: 5vw;
    margin: 5vw 2vw;
    padding:  2vw;
  }
}

@media screen and (min-width: 427px) {
}

@media screen and (min-width: 1024px) {
  .heading {
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
  }

  .hamBurger {
    display: none;
  }

  .heading h1 {
    margin-left: 50px;
    text-align: left;
    color: #faf9f6;
  }

  .heading h1:hover {
    color: #283d21;
    text-shadow: 1px 1px 5px #edeade;
    scale: 1.02;
  }

  .nav {
    color: #4f7942;
    width: 90%;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    font-family: "baloo 2", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
  }

  .nav a {
    color: #4f7942;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #faf9f6;
    border-radius: 5px;

    border: 2px inset #4f794200;
    transition: 0.5s;
  }

  .nav a:hover {
    background-color: #4f7942;
    border-radius: 10px;
    border: 2px inset #faf9f6;
    color: #faf9f6;
    transition-timing-function: ease;
    box-shadow: 0px 5px 5px #21321b98 inset;
  }

  .marquee {
    background-color: #faf9f6;
    color: #cf1212;
    border-radius: 5px;
    width: 90%;
    margin: 10px;
    padding: 5px;
    font-family: "baloo 2", sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
}
