#home {
  background-color: #cf1212;
  color: #faf9f6;
  padding: 5px 20px;
}

@media screen and (max-width: 426px) {
  /* Identity  */

  .identity-container {
    background-color: #faf9f6;
    width: 90%;
    border-radius: 2vw;
    margin: 10vw 2vw;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 3vw;
    text-align: left;
  }

  .identity-fig {
    width: 100%;
    height: 70vw;
    border-radius: 1vw;
    background-image: url("/Images/pexels-pixabay-161758.jpg");
    background-size: cover;
    background-position: center;
  }

  .identity {
    background-color: #edeade;
    width: 100%;
    min-height: 70vw;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    gap: 4vw;
    justify-content: space-evenly;
    padding: 3vw;
    border-radius: 1vw;
  }

  .identity-h3 {
    color: #4f7942;
    font-size: 5vw;
    font-family: "Marcellus", serif;
  }

  .identity-h1 {
    width: 100%;
    font-size: 7vw;
    line-height: 8vw;
    color: #283d21;
    font-family: "Josefin Sans", sans-serif;
  }

  .identity-p {
    width: 100%;
    font-size: 5vw;
    line-height: 6vw;
    color: #4f7942;
    font-family: "baloo 2", sans-serif;
  }

  .identity-button,
  .availability-container #submit {
    width: 100%;
    text-decoration: none;
    text-align: center;
    background-color: #283d21;
    color: #edeade;
    font-size: 5vw;
    font-family: "baloo 2", sans-serif;
    border: 0.2vw solid #283d21;
    border-radius: 1vw;
    transition: 0.5s;
  }

  .identity-button:hover,
  .availability-container #submit:hover {
    background-color: #4f7942;
    color: #edeade;
    border-radius: 2vw;
    border: 0.2vw inset #edeade;
    box-shadow: 0px 5px 5px #21321b98 inset;
    transition-timing-function: ease;
  }

  /* Availability */

  .availability-container {
    background-color: #faf9f6;
    width: 90%;
    height: auto;
    border-radius: 2vw;
    margin: 10vw 2vw;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4vw;
    text-align: left;
  }

  #availabilitypara,
  #availabilityform {
    background-color: #edeade;
    width: 100%;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    gap: 4vw;
    justify-content: space-evenly;
    padding: 3vw 0;
    border-radius: 1vw;
  }

  #availabilitypara {
    padding: 5vw 3vw;
  }

  #availabilitypara h1 {
    font-size: 7vw;
    font-family: "Josefin Sans", sans-serif;
  }

  #availabilitypara p {
    font-size: 5vw;
    line-height: 5vw;
    font-family: "baloo 2", sans-serif;
  }

  #availabilityform {
    background-image: url("/Images/pexels-scott-webb-305821.jpg");
    background-size: cover;
    mix-blend-mode: multiply;
  }

  #availabilityform table {
    font-family: "baloo 2", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #availabilityform label {
    width: 40vw;
    font-size: 4vw;
    font-weight: 800;
    display: flex;
    justify-content: start;
    align-items: start;
  }

  #availabilityform input,
  #availabilityform select {
    width: 35vw;
    height: 7vw;
    padding: 1vw;
    margin: 2vw;
    background-color: #edeade;
    border: 0.2vw solid #4f7942;
    color: #4f7942;
    border-radius: 1vw;
    text-align: center;
  }
}
@media screen and (min-width: 427px) {
  /* Identity  */

  .identity-container,
  .availability-container {
    background-color: #faf9f6;
    width: 90%;
    height: 30vw;
    border-radius: 0.5vw;
    margin: 2vw;
    padding: 1vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw;
  }

  .identity {
    background-color: #edeade;
    padding: 1vw;
    border-radius: 0.3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .identity-h3 {
    color: #4f7942;
    font-family: "Marcellus", serif;
  }

  .identity-h1 {
    width: 100%;
    color: #283d21;
    font-family: "Josefin Sans", sans-serif;
  }

  .identity-p {
    width: 100%;
    color: #4f7942;
    font-family: "baloo 2", sans-serif;
  }

  .identity-fig {
    border-radius: 0.3vw;
    background-image: url("/Images/pexels-pixabay-161758.jpg");
    background-size: cover;
    background-position: center;
  }

  .identity-button,
  .availability-container #submit {
    text-decoration: none;
    background-color: #283d21;
    color: #edeade;
    padding: 0.5vw 1vw;
    font-family: "baloo 2", sans-serif;
    border: 0.3vw solid #283d21;
  }

  .identity-button:hover,
  .availability-container #submit:hover {
    background-color: #4f7942;
    color: #edeade;
    border-radius: 1vw;
    border: 0.2vw inset #edeade;
    box-shadow: 0px 5px 5px #21321b98 inset;
  }

  /* Availability */
  .availability-container {
    /* height: auto; */
  }

  #availabilitypara {
    background-color: #edeade;
    border-radius: 0.3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
  }

  #availabilitypara h1 {
    font-family: "Josefin Sans", sans-serif;
  }

  #availabilitypara p {
    font-family: "baloo 2", sans-serif;
  }

  #availabilityform {
    background-image: url("/Images/pexels-scott-webb-305821.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #edeade;
    border-radius: 0.3vw;
  }

  table {
    width: 100%;
    font-family: "baloo 2", sans-serif;
    display: grid;
    place-items: center;
    align-content: center;
  }

  label {
    font-weight: 800;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  input,
  select {
    width: 15vw;
    padding: 0.5vw;
    margin: 10px;
    background-color: #edeade;
    border: 1px solid #4f7942;
    color: #4f7942;
    border-radius: 10px;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  /* Identity  */

  .identity-container,
  .availability-container {
    background-color: #faf9f6;
    width: 90%;
    height: 30vw;
    border-radius: 0.5vw;
    margin: 2vw;
    padding: 1vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw;
  }

  .identity {
    background-color: #edeade;
    padding: 1vw;
    border-radius: 0.3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .identity-h3 {
    color: #4f7942;
    font-family: "Marcellus", serif;
  }

  .identity-h1 {
    width: 100%;
    color: #283d21;
    font-family: "Josefin Sans", sans-serif;
  }

  .identity-p {
    width: 100%;
    color: #4f7942;
    font-family: "baloo 2", sans-serif;
  }

  .identity-fig {
    border-radius: 0.3vw;
    background-image: url("/Images/pexels-pixabay-161758.jpg");
    background-size: cover;
    background-position: center;
  }

  .identity-button,
  .availability-container #submit {
    text-decoration: none;
    background-color: #283d21;
    color: #edeade;
    padding: 0.5vw 1vw;
    font-family: "baloo 2", sans-serif;
    border: 0.3vw solid #283d21;
  }

  .identity-button:hover,
  .availability-container #submit:hover {
    background-color: #4f7942;
    color: #edeade;
    border-radius: 1vw;
    border: 0.2vw inset #edeade;
    box-shadow: 0px 5px 5px #21321b98 inset;
  }

  /* Availability */
  .availability-container {
    /* height: auto; */
  }

  #availabilitypara {
    background-color: #edeade;
    border-radius: 0.3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
  }

  #availabilitypara h1 {
    font-family: "Josefin Sans", sans-serif;
  }

  #availabilitypara p {
    font-family: "baloo 2", sans-serif;
  }

  #availabilityform {
    background-image: url("/Images/pexels-scott-webb-305821.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #edeade;
    border-radius: 0.3vw;
  }

  table {
    width: 100%;
    font-family: "baloo 2", sans-serif;
    display: grid;
    place-items: center;
    align-content: center;
  }

  label {
    font-weight: 800;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  input,
  select {
    width: 15vw;
    padding: 0.5vw;
    margin: 10px;
    background-color: #edeade;
    border: 1px solid #4f7942;
    color: #4f7942;
    border-radius: 10px;
    text-align: center;
  }
}
